################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ChannelCurves/streamer/obj/Debug
/ChannelCurves/ChannelCurves/obj/Debug
/ChannelCurves/ChannelCurves/bin/Debug
/ChannelCurves/.vs/ChannelCurves/v15
/ChannelCurves/ChannelCurves/MainWindow.xaml - 副本.cs
/ChannelCurves/ChannelCurves/MainWindow - 副本.xaml
ChannelCurves/.vs/ChannelCurves/v14/.suo
